/* Slider */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700|Lato);
.input-col .input-text {
  color: #000;
}
.sld-img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.csslider {
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}
.csslider > input {
  display: none;
}
.csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
  margin-left: -900%;
}
.csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
  margin-left: -800%;
}
.csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
  margin-left: -700%;
}
.csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
  margin-left: -600%;
}
.csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
  margin-left: -500%;
}
.csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
  margin-left: -400%;
}
.csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
  margin-left: -300%;
}
.csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
  margin-left: -200%;
}
.csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
  margin-left: -100%;
}
.csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
  margin-left: 0%;
}
.csslider > ul {
  position: relative;
  width: 100%;
  height: 420px;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  background-color: #3A3A3A;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.csslider > ul > li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
  font-size: initial;
  line-height: normal;
  -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
}
.csslider > ul > li.scrollable {
  overflow-y: scroll;
}
.csslider > .navigation {
  position: absolute;
  bottom: -112px;
  left: 50%;
  z-index: 10;
  margin-bottom: -10px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider > .navigation > div {
  margin-left: -100%;
}
.csslider > .navigation label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 4px;
  padding: 4px;
  background: transparent none repeat scroll 0 0;
}
.csslider > .navigation label:hover:after {
  opacity: 1;
}
.csslider > .navigation label:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
   background: transparent none repeat scroll 0 0;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}
.csslider > .arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}
.csslider.inside .navigation label {
  border: 1px solid #7e7e7e;
}
.csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
.csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
.csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
.csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
.csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
.csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
.csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
.csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
.csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
.csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
.csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
  opacity: 1;
}
.csslider > .arrows {
  position: absolute;
    left: 25px;
    top: 50%;
    width: 85%;
    height: 26px;
    padding: 0 31px;
  z-index: 999;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.csslider > .arrows label {
  display: none;
  position: absolute;
  top: -50%;
  padding: 13px;
  box-shadow: inset 2px -2px 0 1px #3A3A3A;
  cursor: pointer;
  -moz-transition: box-shadow 0.15s, margin 0.15s;
  -o-transition: box-shadow 0.15s, margin 0.15s;
  -webkit-transition: box-shadow 0.15s, margin 0.15s;
  transition: box-shadow 0.15s, margin 0.15s;
}
.csslider > .arrows label:hover {
  box-shadow: inset 3px -3px 0 2px #71ad37;
  margin: 0 0px;
}
.csslider > .arrows label:before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;
}
.csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
  display: block;
  left: 0;
  right: auto;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
.csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
.csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
.csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
.csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
.csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
.csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
.csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
.csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
.csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
.csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
.csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
  display: block;
  right: 0;
  left: auto;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
/*#region MODULES */
/*#endregion */
/*___________________________________ LAYOUT ___________________________________ */

#slider1 {
  /* margin: 20px; */
  font-family: 'Lato';
  width:100%;
  margin-bottom: 100px;
  position: relative;
}
#slider1 > ul > li:nth-of-type(3) {
  background: url(https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg);
}
#slider1 > input:nth-of-type(3):checked ~ ul #bg {
  width: 80%;
  padding: 22px;
  -moz-transition: .5s .5s;
  -o-transition: .5s .5s;
  -webkit-transition: .5s .5s;
  transition: .5s .5s;
}
#slider1 > input:nth-of-type(3):checked ~ ul #bg div {
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  -webkit-transform: translate(0);
  transform: translate(0);
  -moz-transition: .5s .9s;
  -o-transition: .5s .9s;
  -webkit-transition: .5s .9s;
  transition: .5s .9s;
}
#slider1 > input:nth-of-type(6):checked ~ ul #dex-sign {
  -moz-animation: sign-anim 3.5s 0.5s steps(85) forwards;
  -o-animation: sign-anim 3.5s 0.5s steps(85) forwards;
  -webkit-animation: sign-anim 3.5s 0.5s steps(85) forwards;
  animation: sign-anim 3.5s 0.5s steps(85) forwards;
}
#bg {
  color: #000;
  padding: 22px 0;
  position: absolute;
  left: 0;
  top: 16%;
  height: 20%;
  width: 0;
  z-index: 10;
  overflow: hidden;
}
#bg:before {
  content: '';
  position: absolute;
  left: -1px;
  top: 1px;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url(https://raw.github.com/drygiel/csslider/master/examples/themes/fruit.jpg) 1px 23%;
  -webkit-filter: blur(7px);
}
#bg:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.35);
  pointer-events: none;
}
#bg div {
  -moz-transform: translate(120%);
  -ms-transform: translate(120%);
  -o-transform: translate(120%);
  -webkit-transform: translate(120%);
  transform: translate(120%);
}
.scrollable p {
  padding: 30px;
  text-align: justify;
  line-height: 140%;
  font-size: 120%;
}
#center {
  text-align: center;
  margin-top: 25%;
}
#center a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-variant: small-caps;
}
/*___________________________________ LINK ___________________________________ */
a.nice-link {
  position: relative;
  color: #71ad37;
}
h1 a.nice-link:after {
  border-bottom: 1px solid #a5ff0e;
}
a.nice-link:after {
  text-align: justify;
  display: inline-block;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #a5ff0e;
  min-height: 100%;
  width: 0;
  max-width: 100%;
  background: #3A3A3A;
  -moz-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}
a.nice-link:hover {
  color: #71ad37;
}
a.nice-link:hover:after {
  width: 100%;
}
/*___________________________________ SIGN ___________________________________ */
#dex-sign {
  width: 255px;
  height: 84px;
  position: absolute;
  left: 33%;
  top: 45%;
  opacity: .7;
  background: url(http://www.drygiel.com/projects/sign/frames-255-white.png) 0 0 no-repeat;
}
#dex-sign:hover {
  opacity: 1;
  -webkit-filter: invert(30%) brightness(80%) sepia(100%) contrast(110%) saturate(953%) hue-rotate(45deg);
}
@-webkit-keyframes sign-anim {
  to {
    background-position: 0 -7140px;
  }
}
@-moz-keyframes sign-anim {
  to {
    background-position: 0 -7140px;
  }
}
@keyframes sign-anim {
  to {
    background-position: 0 -7140px;
  }
}

/* End Slider */

.mt-45{
    margin-top: -45px;
}
#select2-pickup-location-container, .form-control, .input-text {
    border: unset !important;
}
table.car-table tbody tr{
    font-size: 22px;
    color: #000;
}
table.car-table tbody tr th {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 15px;
    font-size: 15px;
    font-weight: bold;
}

table.car-table-side tbody tr{
  font-size: 22px;
  color: #000;
}
table.car-table-side tbody tr th {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 15px;
  font-weight: bold;
  font-weight: bold;
}
.car-d-head{
  text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 22px;
}

/* Search */


.search-box {
  width: 200px;
  position: relative;
  display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
}

.search-input {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 15px 45px 15px 15px;
  background-color: #fff;
  box-shadow: 0px 0 8px rgb(0 0 0 / 10%);
  color: #6c6c6c;
  border-radius: 6px;
  border:none;
  transition: all .4s;
  padding-left: 50px;
}

.search-input:focus {
  border:none;
  outline:none;
  box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-right:-45px;
  border:none;
  color: #6c6c6c;
  transition: all .4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline:none;
  color:black;
}
.strike-tag s{
  color: #000;
  font-size: 26px;
  margin: 10px;
  font-weight: bold;
}
.strike-tag span{
  color: #000;
  font-size: 16px;
  font-weight: normal;
}
.home-book{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -38%);
  z-index: 2;
}
.h-300{
  max-height: 300px;
}
.max-width-100{
  max-width: 100% !important;
}
.pd285{
  padding: 285px;
}
.w-70{
  width: 70%;
}
.w-72{
  width: 72%;
}
.max-50{
  max-width: 200px;
}
.max-95px{
  max-width: 95px !important;
}
.content_tabs{
  justify-content: center !important;
}
.mt115{
  margin-top: 115px;
}
.mb11{
  margin-bottom: 11px;
}
.w-52 {
  width: 52%;
}
.w-53 {
  width: 53%;
}
.w-50 {
  width: 50% !important;
}
.d-unset {
  display: unset !important;
}
.mt90{
  margin-top: 90px;
}
.mt42 {
  margin-top: 42px;
}
.height-26 {
  height: 26px !important;
}
.pb9 {
  padding-bottom: 9px !important;
}
.text-left {
  text-align: left;
}
.back-icon {
  color: #2f97fe;
    font-size: 22px;
    font-weight: bold;
}
.back-btn {
  color: #fff !important;
  background: #524d4d;
}
.back-btn:hover {
  color: #000 !important;
  background: rgb(255, 255, 255);
}
.text-black {
  color: #000;
}
.search-text{
  font-weight: bold;
  font-size: 20px;
}
.mt60 {
  margin-top: 60px;
}
.pd330 {
  padding-top: 330px;
}
.padding_tb_29 {
  padding-top: 29px;
  padding-bottom: 29px;
}
.pt245 {
  padding-top: 245px;
}
.pt190 {
  padding-top: 190px;
}
.view-btn {
  background-color: #2f97fe !important;
  border-color: #4f89ec !important;
  color: #fff !important;
  font-weight: bold;
  font-size: 16px !important;
}
.view-btn:hover {
  background-color: #7ca8f5 !important;
  border-color: #7ca8f5 !important;
  color: #fff !important;
}
.car-card {
  font-size: 14px;
    color: #000;
    font-weight: bold;
    border: 1px solid #f1f1f1;
    margin: 0px 10px;
    padding: 12px !important;
}
.car-card span{
  color: #4f89ec;
}
.price-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .price-desc span{
 
  color: #f9f9f9;
  font-size: 10px;
  padding: 0px;
  color: #000;
}
.mb4px{
  margin-bottom: 4px;
}
.max-85px {
  max-height: 85px;
}
.selected-car-containers {
  max-height: 65px;
  margin-top: 38px;
}
.local-ride-img {
  max-height: 50px;
    position: absolute;
    top: -22px;
}
.airport_ride-img {
  max-height: 50px;
    position: absolute;
    top: -22px;
}
.font-1 {
  font-size: 1rem !important;
}
.w-55{
  width: 55%;
}
.p0 {
  padding: 0px;
}
.pd0 {
  padding: 0px !important;
}
.seo-back{
  background: #000 !important;
  border: 1px solid #000 !important;
  margin-top: 3px !important;
}
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-black {
  color: #000;
}
.form-headings{
  font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
}
.max-h-155{
  max-height: 155px;
}
.w-800px{
  width: 800px;
}
.w-65{
  width: 65%;
}
.advance-price {
  color: green;
  font-weight: 500;
  font-weight: bold;
  font-size: 30px;
  font-family: unset;
}
.total-price {
  width: 100% !important;
  font-size: 18px !important;
  margin-top: 16px !important;
  border-top: 1px solid #F9F9F9 !important;
  font-weight: bold !important;
}
.hidden-sm {
  display: block;
}
.hidden-lg {
  display: none;
}
.x_car_offer_bottom_btn li:last-child a{
  font-size: 14px;
}
.m-mr-30{
  margin-left: -30px;
}
.x_avanticar_btn li a{
  text-transform: capitalize;
}

.m-fixed-btn {
  display: none;
}
.user-icon{
  margin: 2px;
  font-size: 14px;
  border: 1px solid #797979;
  border-radius: 50px;
  padding: 8px;
}
.mt5px {
  margin-top: 5px;
}
.mt11px {
  margin-top: 11px;
}
.pdr0 {
  padding-right: 0px !important;
}
.pdl0 {
  padding-left: 0px !important;
}
.pdr5 {
  padding-right: 5px !important;
}
.pdl5 {
  padding-left: 5px !important;
}
.pdr4 {
  padding-right: 4px !important;
}
.pdl4 {
  padding-left: 4px !important;
}
.minus-margin {
  margin-top: -44px;
}
.select-button small {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
.m-hide {
  display: none;
}
.modify-row{
  margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.modify-date {
  margin: 0px 15px;
}
.modify-date p{
  font-weight: bold;
  color: #000;
}
.modify-d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92px;
}
.right-icon {
  width: 100px;
  margin-right: 40px;
}
.d-p2 {
  padding: 2%;
}
.sld-img {
  height: 79% !important;
}
.csslider > .navigation {
  bottom: -27px;
  left: 0%;
}
@media only screen and (max-width: 600px) {
  .m-max-h-275{
    max-height: 275px;
  }
  .csslider > .navigation {
    bottom: 132px;
    left: 0%;
  }
  .blog_comment3_wrapper {
    margin-top: 60px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 0px;
}
  .x_car_detail_main_wrapper {
    margin-top: 0px;
  }
  .x_offer_tabs_wrapper .nav {
    display: flex;
    flex-wrap: wrap;
}

.x_offer_tabs_wrapper .nav-tabs .nav-link {
border-radius: 0;
color: #111111;
font-size: 11px;
font-weight: 700;
text-transform: uppercase;
padding: 0px 4px;
font-family: 'Raleway', sans-serif;
font-weight: bold;
}
.x_offer_tabs_wrapper .nav-tabs .nav-item.show .nav-link, .x_offer_tabs_wrapper .nav-tabs .nav-link.active {
  font-size: 11px;
}
  .d-p2 {
    padding: 0%;
  }
  .jurney-type {
    padding: 0px;
  }
  .home-newsletter-wrapper {
    margin-bottom: 0px !important;
  }
  .m-padding-0 {
    padding-bottom: 0px !important;
  }
  .mmt2 {
    margin-top: 2%;
  }
  .m-pd-search{
    padding: 0 6px;
  }
  .login-btn {
    display: flex;
    margin-left: -65px;
    align-items: center;
    justify-content: space-between;
    width: 95px;
    font-weight: bold;
    margin-right: 10px;
  }
  .login-btn i {
    font-weight: bold;
    color: #000;
  }
  .login-btn p{
    color: #000;
    font-weight: bold;
  }
  .logo-img {
    width: 100px;
  }
  .jurney-type .jurney-content p {
    font-size: 17px;
    line-height: 1.2;
    margin-top: 1%;
    color: #ffffff!important;
    margin-left: 9px;
    }
    .col-md-6.jurney-content {
        text-align: left;
        margin-top: -105px;
    width: 220px;

    }
    .col-md-6.jurney-content h4{
      font-size: 18px !important;
      color: #fff;
    background: #0d253c9e;
    padding: 15px;
    }
    .col-md-6.jurney-content h4:after  {
      content: '';
      position: absolute;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 21px solid #0d253c9e;
      right: -6px;
      top: 0px;
    }
    .col-md-6.jurney-content p{
      display: none;
    }
  .modify-row {
    margin-top: 100px;
  }
  .v-img img{
    height: 115px;
}
  .mmt2 {
    margin-top: 0;
  }
  .multi-plus{
    position: absolute;
    right: 20px;
    top: -46px;
    z-index: 999;
  
  }
  .right-50 {
    right: 50px;
  }
  .minus-margin {
    margin-top: -14px;
  }
  .m-align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
  .m-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
  .modal-content {
    width: 96% !important;
  }
  .modal {
    padding-top: 80px !important;
}
  .csslider > ul {
    height: auto;
  }
  .sld-img {
    height: auto !important;
    max-height: 190px;
  }
  .btc_tittle_right_heading {
    margin-top: 6px;
  }
  .btc_tittle_main_wrapper {
    padding-bottom: 0px !important;
  }
  .x_slider_form_heading_wrapper h3 {
    font-size: 18px !important;
    font-size: bold !important;
  }
  .selection-radio-box label {
    font-size: 16px !important;
  }
  .pickup-input-container h4 {
    text-align: center;
    font-size: 16px !important;
  }
  .selection-radio-box {
    display: inline-block !important;
    width: 49%;
  }
  .mt42{
    margin: auto !important;
  }
  .m-vehicle-d {
    display: flex;
    flex-wrap: nowrap;
  }
  .order2{
    order: 2;
  }
  .order1{
    order: 1;
  }
  .x_car_offer_price_inner_list {
    width: 100%;
    font-weight: bold;
    color: #000;
    font-size: 22px;
  }
table.car-table tbody tr th {
    font-size: 14px !important;
    font-weight: 300;
    line-height: 1.6;
    color: #797979;
}
  .x_css_tabs_main_wrapper .nav-link {
    padding: 5px 7px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-bottom: 0;
    font-weight: bold!important;
    text-transform: uppercase;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Raleway', sans-serif;
    color: #111111;
    font-weight: 600;
    font-size: 8px;
    padding-bottom: 8px;
}
.m-fixed-btn {
    position: fixed;
    bottom: 15px;
    border: 1px solid #fff;
    background: #2f97fe;
    width: 65% !important;
    color: #fff !important;
    border-radius: 10px;
    padding: 20px !important;
    z-index: 99;
    display: block;
    text-align: center;
    left: 13%;
    font-weight: bold;
    font-size: 25px !important;
}
.close-modal {
  position: absolute;
  top: 13%;
  right: 8%;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
  .x_avanticar_btn {
    margin-top: 0px !important;
  }
  .m-pay-now{

    display: flex;
    justify-content: space-between;
    padding: 0 55px;
    font-size: 20px;
  }
  .m-font20 {
    font-size: 20px;
  }
  table.car-table tbody tr th{
    font-size: 11px;
  }
  .m-mr-30{
    margin-left: unset;
  }
  .btc_tittle_main_wrapper{
    padding-top: 5px;
  }
  .btc_tittle_left_heading h1{
    font-size: 22px;
  }
  .x_car_offer_main_boxes_wrapper{
    margin-top: 11px;
  }
  .hidden-sm{
    display: none !important;
  }
  .x_carbooking_right_section_wrapper {
    margin-top: 15px;
  }
  .m-modify{
    position: absolute;
    right: -230px;
    top: -11px;
  }
  .mw-385{
    width: 385px;
  }
  .d-block {
    display: block;
  }
  .d-none {
    display: none;
  }
 
 
  .m-pr0{
    padding-right: 0px;
  }
  .m-width{
    width:48%;
  }
  .m-text-center {
    text-align: center;
  }
  .m-50 {
    width: 50% !important;
  }
  .hidden-lg {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
  .x_slider_form_main_wrapper{
    margin-bottom: -10px;
  }
  .m-max-90px{
    max-height: 90px;
  }
  .mpt5px{
    padding-top: 5px !important;
  }
  .pm0{
    padding: 0px;
  }
  .car-selection-box {
    margin-bottom: 5px;
  }
  .w-800px{
    width: unset;
  }
  .w-65{
    width: 100%;
  }
    .home-book {
      position: unset; 
      top: unset;
      left: unset;
      transform: unset;
      z-index: 2;
  }
  .w-72{
    width: 100%;
  }
  .w-52{
    width: 100%;
  }
  .w-55{
    width: 100%;
  }
  .max-50 {
    max-width: 32%;
}
.car-selection-box {
  min-height: 152px;
}
.pt245 {
  padding-top: 0px;
}
.pt190 {
  padding-top: 0px;
}
.mdtimepicker .mdtp__wrapper{
  top: 85px !important;
  min-width: 87% !important;
}
.mc-picker {
  position: fixed;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90% !important;
  height: 50% !important;
  z-index: 999;
}
.max-h-64{
  max-height: auto;
}
.dd-flex {
  display: block;
}
.dw-100 {
  width: auto;
}
.pick-drop-btn{
  min-height: auto;
    margin-top: 0px;
}
.d-pull-right {
  float: unset;
}
.d-mb-8{
  margin-bottom: 5px;
}
.d-with {
  width: auto;
}
}
.d-with {
  width: 55%;
}
.d-mb-8{
  margin-bottom: 8px;
}
.d-pull-right {
  float: right;
}
.pick-drop-btn{
  /* min-height: 64px; */
    margin-top: 7px;
}
.max-h-64{
  max-height: 64px;
}
.dw-100 {
  width: 100%;
}
.dd-flex {
  display: flex;
}
.pm9 {
  padding: 9px;
}
.mmt2 {
  margin-top: 2%;
}
